# OS Metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local App Data & Antigravity files
.gemini/
.antigravity/

# Temporary files
*.tmp
*.log
